Arithmatic Operator

In [ ]:
print(5+6)
print(5-6)
print(5*6)
print(5/2)
print(5//2)
print(5%2)
print(4**2)

11
-1
30
2.5
2
1
16

Conditional Operator

In [ ]:
print(5>4)
print(5>=4)
print(5<4)
print(5<=4)
print(5==4)
print(5!=4)

True
True
False
False
False
True

Logical Operator

In [ ]:
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

Bitwise Operator

In [ ]:
print(2 &  3)
print(2 | 3)

2
3

Assignment operator

In [ ]:
a=2
a+=2
print(a)
a=2
a+=2
print(a)

b=2
b %= 2
print(b)

4
4
0

Membership Operator

In [ ]:
#in/not in
a=1234
print('1' in str(a))
b='Jemima'
print('p' not in b)
print(1 in [1,2,3,4])

True
True
True

Program - Find the sum of a 3 digit number entered by the user

In [ ]:
number=int(input('Enter a 3 digit number'))
a=number%10
number=number//10
b=number%10
number=number//10
c=number
print(a+b+c)

Enter a 3 digit number456
15

If Elses

In [ ]:
#when we two condition
A=input('Enter your Email ')
B=input('Enter your password')
if A=='jemima@gmail.com' and B=='1234':
  print('Login Successful')
else:
  print('Login Failed')

Enter your Email jemima@gmail.com
Enter your password1234
Login Successful

In [ ]:

#when we have three condition
A=input('Enter your Email ')
B=input('Enter your password')
if A=='jemima@gmail.com' and B=='1234':
  print('Login Successful')
  print('welcome Jemima')
elif A=='jemima@gmail.com' and B!='1234':
    B=input('Enter your password again')
    if B=='1234':
      print('Login Successful')
      print('welcome Jemima')
    else:
      print('Login Failed')
else:
    print('Login Failed')

Enter your Email jemima@gmail.com
Enter your password1334
Enter your password againerrt
Login Failed

finding the ssmallest number

In [ ]:
a=int(input('Enter the 1st number'))
b=int(input('Enter the 2nd number'))
c=int(input('Enter the 3rd number'))
if a<b and a<c:
  print(a,'is the smallest number')
elif b<a and b<c:
  print(b,'is the smallest number')
else:
  print(c,'is the smallest number')

Enter the 1st number2
Enter the 2nd number1
Enter the 3rd number4
1 is the smallest number

Menu Driven

In [ ]:
#calculator
a=int(input('Enter the 1st number'))
b=int(input("Enter the 2nd number"))
op=input('Enter operation')
if op=='+':
  print(a+b)
elif op=='-':
  print(a-b)
elif op=='*':
 print(a*b)
elif op=='/':
  print(a/b)
else:
  print('Invalid Operation')

Enter the 1st number5
Enter the 2nd number6
Enter operation*
30

Modules in pyhton

In [ ]:
#math
import math
print(math.sqrt(16))
print(math.floor(2.9))
print(math.ceil(2.2))

4.0
2
3

In [ ]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#randam
import random
print(random.randint(1,100))

8

In [ ]:
#Datetime
import datetime
print(datetime.datetime.now())

2025-06-23 06:36:18.482503

Loops

In [ ]:
#while loop
num=int(input('Enter the number'))
i=1
while i<11:
  print(num*i)
  i+=1

Enter the number4
4
8
12
16
20
24
28
32
36
40

In [ ]:
print('Jemia')

Jemia

In [ ]:
#while loop with eelse
i=1
while i<3:
  print(i)
  i+=1
else:
  print('done')

1
2
done

In [ ]:
import random
jackpot=random.randint(1,10)
guess=int(input('guess any number'))
i=1
while guess!=jackpot:
  print('incorrect')
  guess=int(input('guess the number again'))
  i+=1
else:
  print("correct")
  print('you guessed it in',i,' attempt(s)')8

guess any number3
incorrect
guess the number again1
incorrect
guess the number again2
incorrect
guess the number again5
incorrect
guess the number again7
incorrect
guess the number again9
correct
you guessed it in 6  attempt(s)

In [ ]:
4

4

For Loop

In [ ]:
for i in range (1,10):
    print('Jemima')
    print(i)

Jemima
1
Jemima
2
Jemima
3
Jemima
4
Jemima
5
Jemima
6
Jemima
7
Jemima
8
Jemima
9

In [ ]:
for i in range (1,10,2):
  print(i)

1
3
5
7
9
1
3
5
7
9

In [ ]:
for i in 'Delhi':
  print(i)

D
e
l
h
i

In [ ]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

In [ ]:
currt_pop=10000
for i in  range(10,1,-1) :
  print(i,'=',currt_pop)
  currt_pop=currt_pop/1.1

10 = 10000
9 = 9090.90909090909
8 = 8264.462809917353
7 = 7513.148009015775
6 = 6830.134553650703
5 = 6209.213230591548
4 = 5644.739300537771
3 = 5131.5811823070635
2 = 4665.07380209733

Sequence Sum
1/1! + 2/2! + 3/3! + ...

In [ ]:
n=int(input('Enter the number'))
sum=0
fact=1
for i in range(1,n+1):
  fact=fact*i
  sum=sum+i/fact
  print('sum=',sum)

Enter the number5
sum= 1.0
sum= 2.0
sum= 2.5
sum= 2.6666666666666665
sum= 2.708333333333333

Nested Loop

In [ ]:
#unique pair
n=int(input('enter the number'))
for i in range(1,n):
  for j in range(1,n):
    print(i,j)

enter the number5
1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

*
**
***

In [ ]:
n=int(input('enter the rows'))
for i in range (1,n+1):
  for j in range(1,i+1):
    print('*',end='')

  print()

enter the rows5
*
**
***
****
*****

Pattern 2
1
121
12321
1234321

```
# This is formatted as code
```

In [ ]:
n=int(input('Enter the rows'))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')

  for k in range(i-1,0,-1):
    print(k,end='')
  print('')

Enter the rows6
1
121
12321
1234321
123454321
12345654321

Loop Statement

In [ ]:
#break
for i in range(1,10):
  if i==5:
    break
    print(i)

In [ ]:
#break
#finding prime number
l=int(input('Enter the lower'))
h=int(input('Enter the Highest'))
for i in range (l,h+1):
  for j in range(2,i):
    if i%j==0:
      break

  else:
      print(i)

Enter the lower5
Enter the Highest59
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4