Tuplesssss

In [ ]:
#tuples are totally immutable we can not change it.
#empty
t=()
print(t)
#single item tuple
t=(1)
print(t) #this is a wrong meyhod
print(type(t))
t=(1,)
print(t)#this is a correct method
print(type(t))
#homo
t=(1,2,3,4)
print(t)
#hetro
t=(1,2,3,4,'hello')
print(t)
#tuple
t=(1,2,3,4,(1,2,3))
print(t)
#using type conversion
t=tuple('Hello')
print(t)
t=list('hello')
print(t)

()
1
<class 'int'>
(1,)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2, 3, 4, 'hello')
(1, 2, 3, 4, (1, 2, 3))
('H', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']

Accessing Items

In [ ]:
#Indexing
t=(1,2,3,4,5,(4,5,6))
print(t[0])
print(t[-1])
print(t[-1][-3])

1
(4, 5, 6)
4

In [ ]:
#slicing
t=(1,2,3,4,5)
print(t[0:4])
print(t[0::])
print(t[::-1])
print(t[0:4:2])

(1, 2, 3, 4)
(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)
(1, 3)

Editing of Tuple

In [ ]:
t=(1,2,3,4)
t[0]=3
#editing is not possible since tuples are immutable

TypeError: 'tuple' object does not support item assignment

Adding Item

In [ ]:
#nnot possible

Deleting Item

In [ ]:
t=(1,2,3,4)
del t
print(t)

NameError: name 't' is not defined

In [ ]:
t=(1,2,3,4)
del t[0]
print(t)
#partial deletion is not be done in tuple

TypeError: 'tuple' object doesn't support item deletion

Operation on Tuples

In [ ]:
#addition
#multiplication
T1=(1,2,3)
T2=(3,4,5)
print(T1+T2)
print(3*T2)

(1, 2, 3, 3, 4, 5)
(3, 4, 5, 3, 4, 5, 3, 4, 5)

In [ ]:
#loop
T1=(3,4,6,6)
for i in T1:
  print(i)

3
4
6
6

Tuple Function

In [ ]:
#len
#sum #these all function will work on Numerical parameter
#max
#min
#sorted
t=(1,2,3,4,5)
print(len(t))
print(sum(t))
print(max(t))
print(min(t))
print(sorted(t))
sorted(t,reverse=True)

5
15
5
1
[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

In [ ]:
#index
t=(1,2,3,4,5,3)
print(t.index(3))
print(t.index(3,5)) #it searches 3 from index 5,at got it at index 5

2
5

In [ ]:
#count
T=(1,2,3,4)
print(t.count(3))

2

Difference between Lists and Tuples

Syntax

Mutability

Speed

Memory

Built in functionality

Error prone

Usability

In [ ]:
import time
L=list(range(1000000))
T=tuple(range(100000))
start=time.time()
for i in L:
  i*5
print('List time:',time.time()-start)
start=time.time()
for i in T:
  i*5
print('Tuple time:',time.time()-start)

List time: 0.08225655555725098
Tuple time: 0.00705718994140625

In [ ]:
import sys
L=list(range(1000000))
T=tuple(range(100000))
print('size of Tuple',sys.getsizeof(T))
print('size of list',sys.getsizeof(L))

size of Tuple 800040
size of list 8000056

In [ ]:
a=[1,2,3,4]
b=a
a.append(2)
print(a)
print(b)
#list is muteable so it is risky to use

[1, 2, 3, 4, 2]
[1, 2, 3, 4, 2]

In [ ]:
a=(1,2,3,5)
b=a
a=a+(3,)
print(a)
print(b)

(1, 2, 3, 5, 3)
(1, 2, 3, 5)

why use tuple

In [ ]:
#tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b=(1,2,3)
print(a,b)
#so both side  should be equal

ValueError: too many values to unpack (expected 2)

In [ ]:
#swaping
a,b=(1,2)
a,b=b,a
print(a,b)

2 1

In [ ]:
a,b,*others=(1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [ ]:
a=(1,2,3,4)#Zipping tuples
b=(4,5,6,7)
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6), (4, 7))

Sets
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

Creating Set

In [ ]:
#empty
s={}
print(s)
print(type(s))#so this is not correct method
s=set()
print(s)
print(type(s))
#1d or 2d
s={1,2,3,4}
print(s)
#s={1,2,3,4,{1,2,3,4}} #2d is not allowed since set can  ot contain any mutable item
#print(s)
#hetro
s={1,2,3,True,'hello'}
print(s) #here all of members is printed except True ,true means 1 the set already contain 1 and it can print duplicate items.
#using type conversion
s=set([1,2,3,4])
print(s)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 'hello'}
{1, 2, 3, 4}

In [ ]:
s={1,2,3}
s1={2,1,3}
print(s==s1)

True

Accessing Items

In [ ]:
s={1,2,3,4}#indexing
print(s[0])
print(s[0:3])
#in set item indexing is not allowed,since it is unordered

TypeError: 'set' object is not subscriptable

In [ ]:
#editing
s={1,2,3,4}
print(s)
s[0]=3
print(s)#editing is not be done

{1, 2, 3, 4}

TypeError: 'set' object does not support item assignment

Adding Item

In [ ]:
s={1,2,3,4}
s.add(5)
print(s)
s.update([6,7])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

Deleting Item

In [ ]:
s={1,2,3,4}
#del(s[0])
print(s)
#del(s)
print(s)#it can be fully deleted but not partially
#discard for one item deletation
s.discard(3)
print(s)
s.discard(50)
print(s)
#remove
s.remove(2)
print(s)
#s.remove(50)#driscard n remove both are same but only diiference ,remove(unknown item) does not work
print(s)
#pop
s.pop()
print(s)
#clear makes empty set
s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 4}
{1, 2, 4}
{1, 4}
{1, 4}
{4}
set()

set operation

In [ ]:
s={1,2,3,4,5}
p={1,5,6,7,3}
#union
s|p
#intersection
s&p
#Difference
s-p
p-s
#symmetric difference
s^p
#membership test
1 in s
#iteration
for i in s:
  print(i)

1
2
3
4
5

In [ ]:
s|p

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s&p

{1, 3, 5}

In [ ]:
s-p

{2, 4}

In [ ]:
s^p

{2, 4, 6, 7}

In [ ]:
1 in s

True

In [ ]:
#len/max/min/sorted/sum
s={1,2,3,4,5}
print(max(s))
print(min(s))
print(len(s))
print(sorted(s))
print(sum(s))

5
1
5
[1, 2, 3, 4, 5]
15

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2
s1.union(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

#intersection/intersection_update

#intersection/intersection_update

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
#difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 - s2
s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
#symmetric difference/symmetric difference update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
#isdisjoint/issubset/issuperset
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1.isdisjoint(s2))#disjoint means no common

False

In [ ]:
#issubset
s1={1,2,3,4,5}
s2={4,5}
print(s2.issubset(s1))

True

In [ ]:
#issuperset
s1={1,2,3,4,5}
s2={1,2}
print(s1.issuperset(s2))

True

In [ ]:
#copy
s1={1,2,3,4,5}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
print(fs1)

frozenset({1, 2, 3})

In [ ]:
# what works and what does not
#union,intersection this all operation will work but not editing
# works -> all read functions
# does't work -> write operations
fs1=frozenset([1,2,3])
fs2=frozenset([3,2,4,5])
print(fs1|fs2)
print(fs1&fs2)
print(fs1-fs2)
print(fs1^fs2)
#fs1.add(4)
#2D frozenset
a=frozenset([1,2,3,frozenset([1,2])])
print(a)

frozenset({1, 2, 3, 4, 5})
frozenset({2, 3})
frozenset({1})
frozenset({1, 4, 5})
frozenset({1, 2, 3, frozenset({1, 2})})

comprehension

In [ ]:
f={i for i in range(1,11) if i>5}
print(f)

{6, 7, 8, 9, 10}

Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

Creat Dictionary

In [ ]:
#empty Dictionary
d={}
d
#1d dictionary
d1={'Name':'Jemima','Roll':23}
d1
d2={(1,2,3):2,'name':'Jemima'}
d2
#2d dictionary
d2={'name':'Jemima',
    'Uni':'Kuet','subject':
    {'english':'A',
     'Bangla':'A'}}
d2
d=dict([('Name','Jemima'),('Roll',23),(3,3)])
d
#duplicate key
d={'Name':'Jemima','Roll':23,'Name':'Banchu'}
d
#mutable items as key
#d={'name':'Jemima',[1,2,3,4]:2}
#d
#key always should be imutable
d={'Name':'Jemima',(1,2,3):2}
d

{'Name': 'Jemima', (1, 2, 3): 2}

Accessing items

In [ ]:
d={'Name':'Jemima','Roll':26}
#d[0] is not work
#[]
d['Name']
d['Roll']
#get()
d.get('Name')
d.get('Roll')
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s['subjects']['dsa']

50

Adding key-value pair

In [ ]:
#dictionaries are mutable
d={'Name':'Jemima'}
d['Roll']=26
d
s['subjects']['ds']=90
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 90}}

Remove key-value pair

In [ ]:
d={'Name':'Jemima','Roll':25,'Age':22}
#pop
#d.pop('Roll')
#print(d)
#popitem
#d.popitem()#for deleting last one
#d
#del
#del d['Roll']
#d
#clear
#d.clear()
#pop for 2d

#s['subjects'].pop('maths')
#s
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
del s['subjects']['english']
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67}}

Editing key-value pair

In [3]:
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s['subjects']['maths']=80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 80, 'english': 34}}

Dictionary Operations

Membership

Iteration

In [5]:

'name' in s

True

In [6]:
d = {'name':'nitish','gender':'male','age':33}
for i in d:
  print(i)

name
gender
age

In [7]:
d = {'name':'nitish','gender':'male','age':33}
for i in d:
  print(i,d[i]) #since d[key] returns value

name nitish
gender male
age 33

Dictionary Functions

In [10]:
#len/sorted
d
len(d)
sorted(d)
max(d)

'name'

In [15]:
# items/keys/values
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [17]:
#update
d1={1:2,2:3,4:5}
d2={5:6,2:9}
d1.update(d2)
print(d1)

{1: 2, 2: 9, 4: 5, 5: 6}

Dictionary Comprehension
![image.png]()

In [18]:
# print 1st 10 numbers and their squares
a={i : i**2 for i in range(1,11)}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [19]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{ i:j*0.62 for (i,j) in distances.items()} #d.item() returns tuples so (i,j) in distances.items()

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [22]:
#using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [24]:
#using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{i:j for i,j in  products.items() if j>10}

{'charger': 32}

In [25]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range (1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}